<main class="lista-vacantes">
    <h2>Lista de vacantes</h2>
    <div class="vacante">
        <div class="caja">
            <h3>Facebook</h3>
            <div class="puesto">React Developer</div>
        </div>
        <div class="caja">
            <div class="etiqueta">Ubicaci칩n</div>
            <div class="nombre">Remoto</div>
        </div>
        <div class="caja">
            <div class="etiqueta">Contrato</div>
            <div class="nombre contrato">Tiempo Completo</div>
        </div>
        <div class="caja centrar-vertical">
            <a href="#" class="btn btn-verde">M치s info</a>
        </div>
    </div>
      <div class="vacante">
        <div class="caja">
            <h3>AirBNB</h3>
            <div class="puesto">Node Developer</div>
        </div>
        <div class="caja">
            <div class="etiqueta">Ubicaci칩n</div>
            <div class="nombre">Remoto</div>
        </div>
        <div class="caja">
            <div class="etiqueta">Contrato</div>
            <div class="nombre contrato">Tiempo Completo</div>
        </div>
        <div class="caja centrar-vertical">
            <a href="#" class="btn btn-verde">M치s info</a>
        </div>
    </div>
</main>